body {
    background-color: #007AFF !important;
}


.container {
    background-color: #007AFF !important;
    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.quiz-card {
    width: 25rem;
    text-align: center;
}


.quiz-answer-card:hover {
    cursor: pointer ;
    background-color: rgba(0, 0, 0, 0.05);
}

.bg-success, .bg-danger {
    color: white
}

.question-footer {
    border-top: 1px solid rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 12px;
}

.width-100 {
    width: 100%;
}

.text-center {
    text-align: center;
}

.final-headline {
    font-size: 38px;
    margin-bottom: 32px;
}

.progress {

}

.button-row {
    display: flex;
    justify-content: center;
    margin-top: 24px;
}