body {
    background-color: #007AFF !important;
}


.container {
    background-color: #007AFF !important;
    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.quiz-card {
    width: 25rem;
}

.question-footer {
    border-top: 1px solid rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 12px;
}